{%  load i18n %}

<nav class="navbar navbar-light">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" 
        class="navbar-toggle collapsed" data-toggle="collapse" 
       data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="/">{% trans "Home" %}</a>
      <a class="navlink {% if request.resolver_match.url_name == 'core.order' %} active {% endif %}"
         href="{% url 'core.order' %}"> {% trans "Orders" %}</a>
      <a class="navlink {% if request.resolver_match.url_name == 'core.order_add' %} active {% endif %}" href="{% url 'core.order_add' %}">{% trans "New Order" %}</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'core.user_profile' %}">{{ user.username }}</a></li>
          <li><a href="{% url 'accounts.logout' %}">{% trans "Logout" %}</a></li>
        {% else %}
          <li><a href="{% url 'accounts.login' %}">{% trans "Login" %}</a></li>
          <li><a href="{% url 'core.user_registration' %}">{% trans "Register" %}</a></li>
        {% endif %} 


        {% get_language_info_list for LANGUAGES as languages %}
        <li>
          <form class="form" id="formLogin" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}

            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
            </select>
            <input type="submit" class="btn btn-warning" value="Go" />
          </form>            
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
