{% load i18n %}
  {% if order.paid == 0 %}
    <tr class="danger">
   {% elif order.provisional == 1 %}
    <tr class="warning">
   {% else %}
    <tr>
   {% endif %}
        <td>{{ order.created_on |date:"D d M Y"}}</td>
        <td>{{ order.unique_reference }}</td>
        <td>{{ order.currency.code }}</td>
        <td>{{ order.amount_cash }}</td>
        <td>{{ order.amount_btc }}</td>
        <td>
            <span id="spin_confirming_{{order.pk}}" style="display:none">
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp;
                {% trans "Setting as paid..." %}
            </span>

            <label class="checkbox-inline">
                <input type="checkbox"
                    data-url="{% url 'core.payment_confirmation' order.pk %}"
                    data-pk="{{order.pk}}"
                    data-offstyle="danger"
                    data-onstyle="success"
                    {% if order.is_paid %}
                        checked
                    {% endif %}
                    {% if order.frozen %}
                        disabled
                    {% endif %}
                    data-toggle="toggle"
                    data-on="{% trans 'Paid' %} "
                    data-width="90px"
                    data-off="{% trans 'Not Paid' %} ">
            </label>
        </td>
        {% if order.is_released == 1 %}
        <td><img src="/static/icons/check_16.png"></td>
        {% else %}
        <td><img src="/static/icons/close_16.png"></td>
        {% endif %}
        {% if order.is_completed == 1 %}
        <td><img src="/static/icons/check_16.png"></td>
        {% else %}
        <td><img src="/static/icons/close_16.png"></td>
        {% endif %}

            <td id="td-frozen-withdraw-{{order.pk}}"
                {% if not order.frozen %}
                    style="display:none"
                {% endif %}>

                <span class="frozen">
                    {{order.withdraw_address | default_if_none:"Not Defined"}}
                </span>
            </td>

            <td id="td-withdraw-{{order.pk}}"
                    {% if order.frozen %}
                        style="display:none"
                    {% endif %}>

                <i class="fa fa-pencil" aria-hidden="true"></i>

                <span class="withdraw_address" id="span-withdraw-{{order.pk}}"
                    data-toggle="popover"
                    title="Set Withdraw Address"
                    data-html="true"
                    data-container="body"
                    data-placement="top"
                    data-pk="{{order.pk}}"
                    data-url-update="{% url 'core.update_withdraw_address' order.pk %}"
                    data-url-create="{% url 'core.create_withdraw_address' %}">

                    {{order.withdraw_address | default_if_none:"Not Defined"}}
                </span>
            </td>
    </tr>
