{%  load i18n %}
{% load tz %}

	<div class="panel panel-success">
		<div class="panel-body">
	  		<center><h1>Success !</h1></center>
	  		<p>Please tranfer to this BTC Address:</p> 
	  		<p id="btcAddress">{{btc_address}}</p>
	  		{% localtime on %}
	  			<p id="pay_until_notice">Notice that you must send coins until <strong>{{pay_until |date:"H:iA (e)"}}</strong> </p>
	  		{% endlocaltime %}
			{#  <p><a class="btn btn-primary btn-lg" role="button" href="/order/">Done ! </a></p> #}
	 	</div>
	</div>
	 <input type="hidden" name="order_id" value="{{order_id}}" class="order_id" >
	