{%  load i18n %}
{% load tz %}
<div class="panel panel-success">
    <div class="panel-body">
        <h1>{% trans 'Order placed successfully' %}</h1>
        <div class="row">
            <div class="col col xs-12"></div>
            {% trans 'Please make payment to the following' %} {{ payment_method }}
        </div>
        <div class="row">
            <div class="col col-lg-12">
                {{bank_account}}
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                {% trans 'Please put the following reference in the comment:' %}
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12 unique_ref">
                {{unique_ref}}
            </div>
        </div>
        <div class="col col-lg-12">
         {% trans 'Notice that you must pay until' %}
        </div>
        {% localtime on %}
        <div class="col col-lg-12" id="pay_until_notice">
            <strong>{{pay_until |date:"H:iA (e)"}}</strong>
        </div>
        {% endlocaltime %}
    </div><!-- /pannel-body -->
</div><!-- /pannel -->
<input type="hidden" name="order_id" value="{{order_id}}" class="order_id" >
	
