{% load static %}
<div class="supported-payments">
    {# banks #}
   <div class="col col-xs-4 col-sm-2 center">
       <img src="{% static 'icons/sber_color.png' %}" alt="sberbank" class="supported_payment Sber">
   </div>
   <div class="col col-xs-4 col-sm-2 center">
        <img src="{% static 'icons/alfa_transparent.png' %}" alt="alfa bank" class="supported_payment alfa">
   </div>
    <div class="col col-xs-4 col-sm-2 center">
        <img src="{% static 'icons/btb24.png' %}" alt="btb24" class="supported_payment btb24">
    </div>

    {# cards #}
    {#<div class="col col-xs-4 col-sm-2center">#}
    {#     <img src="{% static 'icons/visa.png' %}" alt="Maestro" class="supported_payment maestro">#}
    {# </div>#}
    {#<div class="col col-xs-4 col-sm-2center">#}
    {#     <img src="{% static 'icons/mastercard.png' %}" alt="Maestro" class="supported_payment maestro">#}
    {# </div>#}
    {# <div class="col col-xs-4 col-sm-2center">#}
    {#     <img src="{% static 'icons/masestro.png' %}" alt="Maestro" class="supported_payment maestro">#}
    {# </div>#}

    {# wallets #}
   <div class="col col-xs-4 col-sm-2 center">
       <img src="{% static 'icons/qiwi_en.png' %}" alt="Qiwi wallet" class="supported_payment qiwi">
   </div>
   <div class="col col-xs-4 col-sm-2 center">
        <img src="{% static 'icons/wm.png' %}" alt="WebMoney" class="supported_payment webmoney">
   </div>
    <div class="col col-xs-4 col-sm-2 center">
        <img src="{% static 'icons/skrill.png' %}" alt="Skrill" class="supported_payment btb24">
    </div>

</div>