{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block main %}
    <div class="page-header">
        <h1>
            <small>
                {% if form.user.password == '' %}
                    {% trans "Set password" %}
                {% else %}
                    {% trans "Change password" %}
                {% endif %}
            </small>
        </h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {%   bootstrap_form form %}
        <button type="submit" class="btn btn-success btn-lg">
            {% trans "Save changes" %}
        </button>
    </form>
{% endblock %}