{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block main %}
    <div class="page-header">
        <h1>
            {% if form.user.password == '' %}
                {% trans "Set password" %}
            {% else %}
                {% trans "Change password" %}
            {% endif %}
        </h1>
        {% if form.user.profile.anonymous_login %}
            <h2><small>
                {% trans "Please note that your username is "%}
                <strong>{{ form.user.username }}</strong>
            </small></h2>
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        {%   bootstrap_form form %}
        <button type="submit" class="btn btn-success btn-lg">
            {% trans "Save changes" %}
        </button>
    </form>
{% endblock %}