{% extends "core/base.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block main %}


<div class="page-header">
    <h2>{% trans "Define new password" %}</h2>
</div>

<p>{% trans "Fill in the form with your new password to complete the process:" %}</p>

<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" name="submit" class="btn btn-success btn-lg" id="submit" value="{% trans "Define new password" %}">
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
