{% load i18n %}
{% autoescape off %}


{% trans "You are receiving this message because you asked for a password reset at Nexchange website." %}

{% trans "Please, follow the link below to create a new password:" %} {% block reset_link %}

{{ protocol }}://{{ domain }}{% url 'accounts.password_reset_confirm' uidb64=uid token=token %}


{% endblock %}

{% trans "In case you have forgot, your username is" %} "{{ user.get_username }}"


{% trans "Regards, team  Nexchange" %}

{% endautoescape %}

{# This is used by django.contrib.auth #}
