{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block main %}
    <div class="page-header">
        <h1>
            {% trans "User Profile" %}
        </h1>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary tablinks active" onclick="openProfileTab(event, 'info')">Info</button>
      <button class="btn btn-lg btn-primary tablinks" onclick="openProfileTab(event, 'verification')">Verification</button>
    </div>

    <div id="info" class="tabcontent" style="display: block;">
        {% include "accounts/partials/user_profile_info.html" %}
    </div>

    <div id="verification" class="tabcontent" style="display: none;">
        <div>
        {% include "verification/partials/user_verification.html" %}
        </div>
    </div>

{% endblock %}

{% block extra_js_footer %}     
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

