{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block main %}
<div class="page-header">
  <h1>
    <small>{% trans "Login" %}</small>
  </h1>
</div>

<div class="form-group" name="tabs" id="tabs">
    <button id="authorized_button" class="btn btn-lg btn-primary tablinks active" onclick="openProfileTab(event, 'authorized')">{% trans "Authorized" %}</button>
    <button id="anonymous_button" class="btn btn-lg btn-primary tablinks" onclick="openProfileTab(event, 'anonymous')">{% trans "Anonymous" %}</button>
</div>


<div id="anonymous" class="tabcontent" style="display: none;">
    {% include "accounts/partials/user_login_anonymous.html" %}
</div>

<div id="authorized" class="tabcontent" style="display: block;">
    {% include "accounts/partials/user_login_authorized.html" %}
</div>

<div class="p-list">
    <p>{% trans "Don't have an account?" %} <a class="nav-link" href="{% url 'accounts.register' %}">{% trans "Register here" %}</a></p>
    <p>{% trans "Forgot your password?" %} <a class="nav-link" href="{% url 'accounts.password_reset' %}">{% trans "Reset it here" %}</a></p>
</div>
<div class="p-list">
    <p><a class="btn btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}">
        <span class="fa fa-twitter"></span> {% trans "Sign in with Twitter" %}
    </a></p>
    <p><a class="btn btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
        <span class="fa fa-facebook"></span> {% trans "Sign in with Facebook" %}
    </a></p>
</div>
{% endblock %}
