<!DOCTYPE HTML> {# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
<html lang="{{COUNTRY_CODE}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1, shrink-to-fit=no">
    <meta name="description" content="{% trans 'Simple and powerful Bitcoin, Ethereum and Litecoin exchange' %}">
    <meta name="author" content="Nexchange">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% trans 'Nexchange BETA' %} {{ debug }}</title>

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'images/icon.png'%}">
    <script type="text/javascript">
        // TODO: which is the best way to translate JS messages?
        var HTTP_500_MSG = "{% trans 'Service unavailable. Please try again later.' %}";
        var UNKNOW_ERROR = HTTP_500_MSG;
    </script>

    {% if GOOGLE_ANALYTICS_PROPERTY_ID %} {% include "core/analitycs/ga.html" %} {% endif %} {% if YANDEX_METRICA_ID %} {% include "core/analitycs/metrica.html" %} {% endif %}
</head>

    <body style="opacity: 0;">
    <div class="wrapper">
        <div class="content">
            <div class="container main">
                <div class="menuContainer">
                    {% include 'core/partials/menu.html' %}
                </div>
                {% block main %} {% endblock %}

                <div class="cms_container">
                    {% block cms_static %} {% endblock %}
                </div>
            </div>
        </div>
        {% block content %} {% endblock content %} {% block footer %} {% endblock %}
    </div>
    {% include 'core/partials/supported_payments.html' %} {% include 'core/partials/popular_faq.html' %} {% include 'core/partials/seo_footer.html' %}
    <script type="text/javascript" src="/en/jsi18n/"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
    <script>
        window.recaptchaSitekey = '{{ RECAPTCHA_SITEKEY }}';
    </script>

    <link rel="stylesheet" href="{% static 'bundles/bundle.css' %}">
    <script type="text/javascript" src="{% static 'bundles/bundle.js' %}"></script>
</body>

</html>
