{% extends "core/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}
        	
			<div class="page-header">
				<h1>
					{% trans "BTC" %}<small> {{ action }} </small>
				</h1>
			</div>
			
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
								
					<center>				
					 <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/order/add/'"> {% trans "New" %}</button>
					 <button type="button" class="btn btn-alert btn-lg" onclick="window.location.href='/'"> {% trans "Exit" %}</button>
					</center>				
							
				 </div>
				
				<div class="col-xs-6 col-sm-6 col-md-6">  
					<form method="post" class="form">
					{{form}}
				    {% csrf_token %}
					<input type="submit" value="Enviar" />
				    </form>
			    </div>
			</div>
			
			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12"> 
			  <table class="table table-hover table-condensed">	 
  				<tr>
  					<th>{% trans "Date" %}</th>
  					<th>{% trans "Reference" %}</th>
  					<th>{% trans "Currency" %}</th>
  					<th>{% trans "Amount" %}</th>
  					<th>{% trans "BTC" %}</th>
  					<th>{% trans "Paid" %}</th>
  					<th>{% trans "Released" %}</th>
  					<th>{% trans "Completed" %}</th>
  					<th>{% trans "Withdraw Address" %}</th>
  				</tr>
	    		
	    		{% for order in orders %}
	    		  {% if order.paid == 0 %}
			        <tr class="danger">
			       {% elif order.provisional == 1 %}
			        <tr class="warning">
			       {% else %}
			        <tr >
			       {% endif %}
			       
			        	<td>{{ order.created_on |date:"D d M Y"}}</td>
		            	<td>{{ order.unique_reference }}</td>
		            	<td>{{ order.currency.code }}</td>
		                <td>{{ order.amount_cash }}</td>
		            	<td>{{ order.amount_btc }}</td>

	            	
						{% if order.frozen %}
						<td class="frozen">
							{% if order.is_paid %}
								<button type="button" style="width:90px" data-switch-toggle="readonly" disabled="disabled"  class="btn btn-success">{% trans 'Paid' %}</button>
							{% else %}
								<button type="button" style="width:90px" data-switch-toggle="readonly" disabled="disabled" class="btn btn-danger">{% trans 'Not Paid' %}</button>
							{% endif %}
						</td>
						{% else %}
						<td>
							<label class="checkbox-inline">
								<input type="checkbox"

									data-offstyle="danger"
									data-onstyle="success"
									{% if order.is_paid %}
										checked 
									{% endif %}
									data-toggle="toggle"  
									data-on="{% trans 'Paid' %}" 
									data-width="90px"
									data-off="{% trans 'Not Paid' %}">
							</label>
						</td>	
						{% endif %}
						</td>

		            	{% if order.is_released == 1 %}
		            	<td><img src="/static/icons/check_16.png" \></td>
		            	{% else %}
		                <td><img src="/static/icons/close_16.png" \></td>
		            	{% endif %}
		            	{% if order.is_complete == 1 %}
		            	<td><img src="/static/icons/check_16.png" \></td>
		            	{% else %}
		                <td><img src="/static/icons/close_16.png" \></td>
		            	{% endif %}


						{% if order.frozen %}
						<td title="{% trans 'Click to edit Withdraw Address' %}">
							<span class="frozen">
								{{order.withdraw_address | default_if_none:_("Not Defined")}}
							</span>
						</td>
						{% else %}
		            	<td title="{% trans 'Click to edit Withdraw Address' %}">
		            		<i class="fa fa-pencil" aria-hidden="true"></i>
							<span class="withdraw_address" 
								data-type="text"
								data-emptytext="{% trans 'Not Defined' %}"
								data-value="{{order.withdraw_address| default_if_none:''}}"
								data-pk="{{order.pk}}" 
								data-url="{% url 'core.update_withdraw_address' order.pk %}" 
								data-title="{% trans "Change Withdraw Address"%}">
								{{order.withdraw_address | default_if_none:_("Not Defined")}}
							</span>
		            	</td>
		            	{% endif %}
	
			        </tr>
	        	        
	        	{% empty %}

		    		<tr>
		    			<td colspan="10">
		    				<h3>{% trans "No records found" %}</h3>	    
		    		    </td>
		    		</tr>

	    		{% endfor %}
			   
			  </table>
			</div>
		    </div>

		<div class="pagination">
		    <span class="step-links">
		        {% if orders.has_previous %}
		            <a href="?page={{ orders.previous_page_number }}">{% trans "previous" %}</a>
		        {% endif %}

		        <span class="current">
		            Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
		        </span>

		        {% if orders.has_next %}
		            <a href="?page={{ orders.next_page_number }}">{% trans "next" %}</a>
		        {% endif %}
		    </span>
		</div>
	 
 <script>	
   $(function() {
    $( "#id_date" ).datepicker({ dateFormat: 'yy-mm-dd' }); 
  });

 
  </script>	

			
{% endblock %}


{% block extra_js_footer %}     
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{% static 'js/index_orders.js' %}"></script>

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<script>

	 //$('').bootstrapToggle('enable')

	  $(function() {
	    $('.checkbox-inline input').change(function() {
	    	console.log($(this).prop('checked'));      
	    })
	  })	

	</script>

{% endblock %}