{% extends "core/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block main %}


{% include 'core/partials/popover_withdraw_address.html' %}

        	
			<div class="page-header">
				<h1>
					{% trans "BTC" %}<small> {{ action }} </small>
				</h1>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
								
					<center>				
					 <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/order/add/'"> {% trans "New" %}</button>
					 <button type="button" class="btn btn-alert btn-lg" onclick="window.location.href='/'"> {% trans "Exit"%}</button>
					</center>				
							
				</div>

				<div class="visible-xs"> &nbsp;</div>
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<form method="post" class="form">
						{% bootstrap_field form.date show_label=False form_group_class="form-group col-xs-10" %}
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;</button>
					    {% csrf_token %}
				    </form>
			    </div>


			</div>
			
			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12"> 
			<div class="table-responsive">
			  <table class="table table-hover table-condensed">	 
  				<tr>
  					<th>{% trans "Date" %}</th>
  					<th>{% trans "Reference" %}</th>
  					<th>{% trans "Currency" %}</th>
  					<th>{% trans "Amount" %}</th>
  					<th>{% trans "BTC" %}</th>
  					<th>{% trans "Paid" %}</th>
  					<th>{% trans "Released" %}</th>
  					<th>{% trans "Completed" %}</th>
  					<th>{% trans "Withdraw Address" %}</th>
  				</tr>
	    		
	    		{% for order in orders %}
	    		  {% if order.paid == 0 %}
			        <tr class="danger">
			       {% elif order.provisional == 1 %}
			        <tr class="warning">
			       {% else %}
			        <tr >
			       {% endif %}
			       
			        	<td>{{ order.created_on |date:"D d M Y"}}</td>
		            	<td>{{ order.unique_reference }}</td>
		            	<td>{{ order.currency.code }}</td>
		                <td>{{ order.amount_cash }}</td>
		            	<td>{{ order.amount_btc }}</td>

	            	
						<td>
							<span id="spin_confirming_{{order.pk}}" style="display:none">
								<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp;
								{% trans "Setting as paid..." %}
							</span>

							<label class="checkbox-inline">
								<input type="checkbox"
									data-url="{% url 'core.payment_confirmation' order.pk %}"
									data-pk="{{order.pk}}"
									data-offstyle="danger"
									data-onstyle="success"
									{% if order.is_paid %}
										checked 
									{% endif %}
									{% if order.frozen %}
										disabled
									{% endif %}
									data-toggle="toggle"  
									data-on="{% trans 'Paid' %}" 
									data-width="90px"
									data-off="{% trans 'Not Paid' %}">
							</label>
						</td>	
						
						
		            	{% if order.is_released == 1 %}
		            	<td><img src="/static/icons/check_16.png" \></td>
		            	{% else %}
		                <td><img src="/static/icons/close_16.png" \></td>
		            	{% endif %}
		            	{% if order.is_complete == 1 %}
		            	<td><img src="/static/icons/check_16.png" \></td>
		            	{% else %}
		                <td><img src="/static/icons/close_16.png" \></td>
		            	{% endif %}

							<td id="td-frozen-withdraw-{{order.pk}}"
								{% if not order.frozen %} 
									style="display:none" 
								{% endif %}>

								<span class="frozen">
									{{order.withdraw_address | default_if_none:"Not Defined"}}
								</span>
							</td>

			            	<td id="td-withdraw-{{order.pk}}"
									{% if order.frozen %} 
										style="display:none" 
									{% endif %}>

			            		<i class="fa fa-pencil" aria-hidden="true"></i>

			            		<span class="withdraw_address" id="span-withdraw-{{order.pk}}"
			            			data-toggle="popover"
			            			title="Set Withdraw Address"
			            			data-html="true"
			            			data-container="body"
			            			data-placement="top"
			            			data-pk="{{order.pk}}"
			            			data-url-update="{% url 'core.update_withdraw_address' order.pk %}"
			            			data-url-create="{% url 'core.create_withdraw_address' %}">
			            			
			            			{{order.withdraw_address | default_if_none:"Not Defined"}}
		            			</span>
			            	</td>
	
			        </tr>
	        	        
	        	{% empty %}

		    		<tr>
		    			<td colspan="10">
		    				<h3>{% trans "No records found" %}</h3>	    
		    		    </td>
		    		</tr>

	    		{% endfor %}
			   
			  </table>
			</div><!-- end responsive -->
			</div>
		    </div>

		<div class="pagination">
		    <span class="step-links">
		        {% if orders.has_previous %}
		            <a href="?page={{ orders.previous_page_number }}">{% trans "previous" %}</a>
		        {% endif %}

		        <span class="current">
		            Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
		        </span>

		        {% if orders.has_next %}
		            <a href="?page={{ orders.next_page_number }}">{% trans "next" %}</a>
		        {% endif %}
		    </span>
		</div>
	 
	
 <script>	
   $(function() {
    $( "#id_date" ).datepicker({ dateFormat: 'yy-mm-dd' }); 
  });

 
  </script>	


{% endblock %}


{% block extra_js_footer %}
    <script src="{% static 'js/index_orders.js' %}"></script>

	<link href="{% static 'bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
	<script src="{% static 'bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>

	<script type="text/javascript">
		$(function () {
		  $('[data-toggle="popover"]').popover({content: $("#popover-template").html()})
		})
	</script>
{% endblock %}
