{% extends "core/base.html" %}

{% block main %}
			<div class="page-header">
				<h1>
					BTC - Exchange <small>Order {{action}}</small>
				</h1>
			</div>

				<form method="post" class="form" enctype="multipart/form-data" >
				    {% csrf_token %}
				   <div class="row">
				   <div class="col-xs-5 col-sm-5 col-md-5">
				   	<p id="exchange-text">Exchange from <strong>BitCoins</strong> to <strong>Rusian Ru</strong> </p>
				   </div>	
				   </div>
				   <div class="row">
				   	  <div class="col-xs-5 col-sm-5 col-md-5">
					      <div class="panel panel-default">
						    <div class="panel-body">						    	
						           <div class="input-group">
								      <input type="text" class="form-control amount amount-cash"  name="amount-cash">
								      <div class="input-group-btn">
										{{slt1 | safe}}
								      </div><!-- /btn-group -->
								    </div><!-- /input-group -->
						    </div><!-- /pannel-body -->
						  </div><!-- /pannel -->
					 </div><!-- /col -->

					<div class="col-xs-1 col-sm-1 col-md-1">
					<h2>TO</h2>
                    </div><!-- /col -->
					
					<div class="col-xs-5 col-sm-5 col-md-5">
					      <div class="panel panel-default">
						    <div class="panel-body">
						           <div class="input-group">
								      <input type="text" class="form-control amount amount-coin" value="1" name="amount-coin">
								      <div class="input-group-btn">
								        {{slt2 | safe}}
								      </div><!-- /btn-group -->
								    </div><!-- /input-group -->
						    </div><!-- /pannel-body -->
						  </div><!-- /pannel -->  
					</div><!-- /col -->

					</div><!-- /row -->
				    <div class="row">
						 <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-3">
						 	<div class="panel panel-default">
						      <div class="panel-body">
						      	<center>
					    		<button type="submit" class="btn btn-success btn-lg">Place</button>
					    		<button type="button" class="btn btn-warning btn-lg" onclick="window.location.href='/transaction/'">Exit</button>
								</center>
							 </div>
							</div>
						</div>

					</div>    
				    <hr>
				</form>
    <script>
        $(function () {
            var timer = null,
                delay = 500;
            updateOrder($('.amount-coin'))

            $('.amount').on('keyup', function () {
                var self = this;
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                timer = setTimeout(function () {
                    updateOrder($(self));
                }, delay);
            });

            $('.currency').on('change', function () {
                updateOrder($('.amount-coin'))
            });
        });

    function updateOrder (elem) {
        var btcToCashEndpoint = 'https://cex.io/api/convert/BTC/' + $('.currency-from').val(),
            val,
            rate,
            floor = 100000000;

        val = parseFloat(elem.val());

        if (!val) {
            return;
        }

        $.post(btcToCashEndpoint, {amnt: 1}, function(data) {
            rate = data.amnt;

            if (elem.hasClass('amount-coin')) {
                var cashAmount = Math.round(rate * val);
                $('.amount-cash').val(cashAmount);
            } else {
                var btcAmount = Math.floor(val / rate * floor) / floor;
                $('.amount-coin').val(btcAmount);
            }
        });
    }
    </script>
{% endblock %}
