{% extends "core/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}
			<div class="page-header">
				<h1>
					{% trans "BTC - Exchange" %} <small>{% trans "Order" %} </small>
				</h1>
			</div>
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
                </div>
				<form method="post" class="form" enctype="multipart/form-data" >
				    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-5 center-block controls">
                                <div class="col-lg-12">
                                    <h2 class="rate-buy">

                                    </h2>
                                    <h2 class="currency"></h2>
                                </div>
                                <div class="col-lg-12">
                                  <span class="btn btn-success btn-lg active trigger trigger-buy">
                                        {% trans "Buy" %}
                                  </span>
                                </div>
                            </div>
                        <div class="col-xs-1 col-sm-1 col-md-1"></div>
                        <div class="col-xs-5 col-sm-5 col-md-5 controls">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="rate-sell">

                                    </h2>
                                    <h2 class="currency"></h2>
                                </div>
                                <div class="col-lg-12">
                                  <span class="btn btn-danger btn-lg trigger trigger-sell">
                                        {% trans "Sell" %}
                                  </span>
                                </div>
                            </div>
                        </div>

                    </div>
{#				   <div class="row">#}
{#                       <div class="col-xs-5 col-sm-5 col-md-5">#}
{#                        <p id="exchange-text">{% trans "Exchange from" %} <strong>{% trans "BitCoins" %}</strong> {% trans "to other Currencies" %}</strong> </p>#}
{#                       </div>#}
{#				   </div>#}
				   <div class="row">
				   	  <div class="col-xs-5 col-sm-5 col-md-5">
					      <div class="panel panel-default">
						    <div class="panel-body">						    	
						           <div class="input-group">
								      <input type="text" class="form-control amount amount-cash rate-buy"  name="amount-cash">
								      <div class="input-group-btn">
										{{slt1 | safe}}
								      </div><!-- /btn-group -->
								    </div><!-- /input-group -->
						    </div><!-- /pannel-body -->
						  </div><!-- /pannel -->
					 </div><!-- /col -->

					<div class="col-xs-1 col-sm-1 col-md-1">
					<h2>TO</h2>
                    </div><!-- /col -->
					
					<div class="col-xs-5 col-sm-5 col-md-5">
					      <div class="panel panel-default">
						    <div class="panel-body">
						           <div class="input-group">
								      <input type="text" class="form-control amount amount-coin" value="1" name="amount-coin">
								      <div class="input-group-btn">
								        {{slt2 | safe}}
								      </div><!-- /btn-group -->
								    </div><!-- /input-group -->
						    </div><!-- /pannel-body -->
						  </div><!-- /pannel -->  
					</div><!-- /col -->

					</div><!-- /row -->
				    <div class="row">
						 <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-3">
						 	<div class="panel panel-default">
						      <div class="panel-body">
						      	<center>
                                    <input type="hidden" name="type" value="buy" class="trade-type">
					    		    <button type="submit" class="sell-go btn btn-danger btn-lg hidden">{% trans "Sell" %}</button>
					    		    <button type="submit" class="buy-go btn btn-success btn-lg">{% trans "Buy" %}</button>
{#					    		    <button type="button" class="btn btn-warning btn-lg" onclick="window.location.href='/order/'">{% trans "Exit" %}</button>#}
								</center>
							 </div>
							</div>
						</div>

					</div>    
				    <hr>
				</form>
{% endblock %}
{% block extra_js_footer %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
