    {% extends "core/base.html" %}
    {% load bootstrap3 %}

    {% block main %}
    <div class="page-header">
        <h1>
            BTC - Exchange <small>User Profile</small>
        </h1>
    </div>


    {% if request.user.profile.disabled %}
        <div class="well">
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Your phone number is not verified yet.
            </div>  

            <div class="row">
                <div class="col-md-8">
                    <div class="input-group"> 
                        <input type="text" aria-label="Insert SMS verification code here" placeholder="Insert SMS verification code here" class="form-control"> 
                        <div class="input-group-btn"> 
                            <button class="btn btn-default" type="button">Verify phone now</button> 
                        </div> 
                    </div> 
                </div>

                <div class="col-md-4">
                    <a href="#" class="btn btn-success btn-sm pull-right">
                        <i class="fa fa-repeat" aria-hidden="true"></i>&nbsp;Send-me another verification code
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <label class="control-label" for="phone">Phone</label>
        <div class="input-group"> 
            <input type="text" aria-describedby="basic-addon2" value="{{request.user.profile.phone}}" disabled="disabled" class="form-control disabled">
            <span id="basic-addon2" class="input-group-addon">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Your phone has been verified.
            </span>
        </div>
        <br>
    {% endif%}




<form method="post" class="form" enctype="multipart/form-data" >
    {% csrf_token %}


    {% bootstrap_form profile_form %}
    {% bootstrap_form user_form %}

    <input type="submit" name="submit" class="btn btn-success btn-lg" id="submit" value="Update Profile">
</form>
{% endblock %}
