{%  load i18n %}
<div class="card-wrapper"></div>
<form action="" name="card-form" id="card-form">
    <legend>{% trans legend %}</legend>
    <div class="row">
        <div class="col col-sm-4 col-sm-offset-2">
            <input placeholder="{% trans "Card number" %}" type="text" name="number">
        </div>
        <div class="col col-sm-4">
            <input placeholder="{% trans "Full name" %}" type="text" name="name">
        </div>
    </div>
    <div class="row collapse">
        <div class="small-3 columns">
            <span class="btn btn-primary" id="save-card">{% trans "Go" %}</span>
        </div>
    </div>
</form>