{% load i18n %}
<div class="row">
    <div class="col col-lg-12">{% trans label %}</div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <input type="text" name="phone" id="phone" class="phone val"
               value="{% if user.is_authenticated  %}{{ user.profile.phone }}{% else %}+7{% endif %}">
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <span class="btn btn-primary save save-phone">{% trans "Go" %}</span>
        </div>
    </div>
</div>