{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block main %}
{% include "articles/partials/cms_header.html" %}
<div class="row support-wrapper">
    <div class="col-sm-6">
        <div class="page-header cms_header">
                <h2>
                    {% trans "Contact us" %}
                </h2>
            <div class="line-order">
            </div>
        </div>
        <form method="post" class="form">{% csrf_token %}
            {% if user.is_authenticated %}
                {% bootstrap_field form.order %}
            {% endif %}
                {% bootstrap_field form.telephone %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.email %}
                {% bootstrap_field form.subject %}
                {% bootstrap_field form.message %}    
             <input type="submit" name="submit" class="btn btn-success btn-lg" id="submit" value="{% trans 'Send'%}">
        </form>
    </div>

    <div class="col-sm-6 info-support">
        <div class="info-address">
            <p class="support-arddress">Email</p>
            <p class="support-link">
                <a href="mailto:{% trans "support@n.exchange" %}" target="_blank">
                    {% trans "support@n.exchange" %}
                </a>
            </p>
        </div>

        <div class="info-address">
            <p class="support-arddress">Phone</p>
            <p>{{ contact.support_number }}</p>
            <p>{{ contact.support_number_us }} (US)</p>
        </div>

        <div class="info-address">
            <p class="support-arddress">Twitter</p>
            <p class="support-link">
                <a href="{{ contact.twitter }}" target="_blank">
                    {{ contact.twitter_handle }}
                </a>
            </p>
        </div>

        <div class="info-address">
            <p class="support-arddress">Twitter</p>
            <p class="support-link">
                <a href="{{ contact.twitter }}" target="_blank">
                    {{ contact.facebook_handle }}
                </a>
            </p>
        </div>

{#      <div class="info-address"> #}
{#          <p class="support-arddress">Telegram</p> #}
{#             <p class="support-link"> #}
{#              <a href="https://telegram.me/NexchangeBTC" target="_blank"> #}
{#                  @NexchangeBTC #}
{#              </a> #}
{#          </p> #}
{#      </div> #}
    </div>

</div>
{% endblock %}