{% load i18n %}
<div class="table-responsive visible-md visible-lg">
  <table class=" table-hover table-condensed col-lg-12">
    <tr class="table-order">
        <th >{% trans "Date" %}</th>
        <th>{% trans "Reference" %}</th>
        <th>{% trans "Pair" %}</th>
        <th>{% trans "Price" %}</th>
        <th>{% trans "Volume" %}</th>
        <th>{% trans "Paid" %}</th>
        <th>{% trans "Released" %}</th>
        <th>{% trans "Completed" %}</th>
        <th>{% trans "Withdraw Address" %}</th>
    </tr>
    {% for order in orders %}
              {% include 'orders/partials/order_row_desktop.html' %}
    {% empty %}
        <tr>
            <td colspan="10">
                <h3>{% trans "No records found" %}</h3>
            </td>
        </tr>
    {% endfor %}

  </table>
</div>