{% load i18n %}
<div class="table-responsive visible-md visible-lg orders-root">
  <table class=" table-hover table-condensed col-lg-12">
    <tr class="table-order">
        <th>{% trans "Date" %}</th>
        <th>{% trans "Sending" %}</th>
        <th>{% trans "Receiving" %}</th>
        <th>{% trans "Rate" %}</th>
        <th>{% trans "Reference" %}</th>
        <th>{% trans "Paid" %}</th>
        <th class="text-center">{% trans "Released" %}</th>
        <th class="text-center">{% trans "Completed" %}</th>
        <th>{% trans "Withdraw Address" %}</th>
    </tr>
    {% for order in orders %}
        {% include 'orders/partials/order_row_desktop.html' %}
    {% empty %}
        <tr class="text-center">
            <td colspan="10">
                <h3>{% trans "No records found" %}</h3>
            </td>
        </tr>
    {% endfor %}

  </table>
</div>