{% load i18n %}

{% if is_expired_orders %}
<div class="pagination">
    <span class="step-links">
        {% if orders.has_previous %}
            <a href="?show_expired=true&page={{ orders.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %}
            {{ orders.number }}
            {% trans "of" %} {{ orders.paginator.num_pages }}
        </span>

        {% if orders.has_next %}
            <a href="?show_expired=true&page={{ orders.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% if is_expired_orders == False %}
    <div class="orders_toggle">
        {% if show_expired %}
            <a href="{% url 'orders.orders_list' %}" class="hide_old">{% trans "Hide expired and released" %}</a>
        {% else %}
            <a href="?show_expired=true" class="show_old">{% trans "Show expired and released" %}</a>
        {% endif %}
    </div>
{% endif %}