{% load i18n %}
    <tr>
        <td>{{ order.created_on |date:"D d M"}}</td>

        <td>{{ order.amount_quote.normalize }} {{ order.pair.quote }}</td>

        <td>{{ order.amount_base.normalize }} {{ order.pair.base }}</td>
        
        <td>{{ order.rate | floatformat:2 }}</td>

        <td>{{ order.unique_reference }}</td>
        
        <td>
        {% include 'orders/partials/forms/payment_toggle.html' %}
        </td>
        <td class="text-center">
            {% include 'orders/partials/released_indicator.html' %}
        </td>
        <td class="text-center">
            {% include 'orders/partials/completed_indciator.html' %}
        </td>

        {%  if order.is_buy or order.exchange %}
        <td>
            {% include 'orders/partials/forms/withdraw_address_widget.html' %}
        </td>
        {% else %}
        <td>
            {{ order.payment_preference.payment_method.name }}:
            {{ order.payment_preference.identifier }}
        </td>
        {% endif %}
    </tr>
