{% load i18n %}
    <tr>
        <td>
           {% if order.is_buy %}
                <span class="btn btn-success btn-small">
                    {% trans 'Buying' %}
                </span>
            {% else %}
                <span class="btn btn-danger btn-small">
                    {% trans 'Selling' %}
                </span>
            {% endif %}
        </td>
        <td>{{ order.created_on |date:"D d M"}}</td>
        <td>{{ order.unique_reference }}</td>
        <td>{{ order.pair.name }}</td>
        <td>{{ order.amount_quote.normalize}}</td>
        <td>{{ order.amount_base.normalize }}</td>
        <td>
        {% include 'orders/partials/forms/payment_toggle.html' %}
        </td>
        <td>
            {% include 'orders/partials/released_indicator.html' %}
        </td>
        <td>
            {% include 'orders/partials/completed_indciator.html' %}
        </td>

        {%  if order.is_buy or order.exchange %}
        <td>
            {% include 'orders/partials/forms/withdraw_address_widget.html' %}
        </td>
        {% else %}
        <td>
            {{ order.payment_preference.payment_method.name }}:
            {{ order.payment_preference.identifier }}
        </td>
        {% endif %}
    </tr>
