{% load i18n %}
    <tr>
        <td>{{ order.created_on |date:"D d M Y"}}</td>
        <td>{{ order.unique_reference }}</td>
        <td>{{ order.pair.name }}</td>
        <td>{{ order.amount_quote }}</td>
        <td>{{ order.amount_base }}</td>
        <td>
        {% include 'orders/partials/forms/payment_toggle.html' %}
        </td>
        {% if order.status >= order.RELEASED %}
        <td><img src="/static/icons/check_16.png"></td>
        {% else %}
        <td><img src="/static/icons/close_16.png"></td>
        {% endif %}
        {% if order.status == order.COMPLETED %}
        <td><img src="/static/icons/check_16.png"></td>
        {% else %}
        <td><img src="/static/icons/close_16.png"></td>
        {% endif %}

        {%  if order.is_buy %}
        <td>
            {% include 'orders/partials/forms/withdraw_address_widget.html' %}
        </td>
        {% endif %}
    </tr>
