{% extends 'core/partials/steps/step_base.html' %}
{% load i18n %}

{% block step_content %}
    
    <div class="register">
        <h4>{% trans "Phone verification" %}</h4>
        <div class="step1">
            {% include 'core/partials/forms/phone.html' with label="Enter your phone" %}
        </div>
        <div class="step2 hidden">
            <div class="col col-lg-12 register">
                {% trans "Enter verification code from SMS" %}
            </div>
            <div class="col col-lg-12 register">
                <input type="text" name="verification_code" id="verification_code">
            </div>
        </div>
        <div class="col col-lg-12 center register">
            <span class="btn btn-primary create-acc">
                {% trans "Send SMS" %}
            </span>
            <span class="btn btn-danger create-acc resend hidden">
                {% trans "Send again" %}
            </span>
            <span class="btn btn-primary verify-acc hidden">
                {% trans "Go" %}
            </span>
        </div>
    </div>
{% endblock %}
{% block spa_navigation %}
{% endblock %}