{% extends 'core/partials/steps/step_base.html' %}
{% load i18n %}
{% block step_content %}
    <div class="chart_panel_selectbox_panel">
       <div class="input-group-btn">
            {{select_pair| safe}}
        </div>
       <div class="input-group-btn">
           <select name="graph-range" id="graph-range" class="chart_panel_selectbox classic">
               {% for range in graph_ranges %}
                   <option value="{{  range.val }}"> {{ range.name }} </option>
               {% endfor %}
           </select>
        </div>
    </div>
    <div id="container-graph">
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           	  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 price_box">
                	<span class="rate-buy"></span>
                    <br><span class="currency"></span><br>

                    <a href="#">{% trans "Buy" %}</a>

                <div class="price_box_selectbox_cont">
                    	<input type="text" class="price_box_selectbox_cont_textbox amount-cash">
                        {{select_from | safe}}
                    </div>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 price_box_mid">
                    <i class="fa fa-refresh fa-5x exchange-sign" aria-hidden="true"></i>
                </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 price_box">

                	36377.01
                    <br><span>RUB</span><br>

                <a href="#" class="price_box2_a">Sell</a>

                <div class="price_box_selectbox_cont">
                    	<input type="text" class="price_box_selectbox_cont_textbox amount-coin">
                        {{select_to | safe}}
                </div>

              </div>
            </div>

 {% include 'core/partials/modals/payment_type.html' with id="UserAccountModal" type="sell" %}
    <div class="paymentSelectionContainer">
    </div>
 {% include 'core/partials/modals/sell.html' with id="CardSellModal" method="card" form="card" legend="Add a new payout card" %}
 {% include 'core/partials/modals/sell.html' with id="QiwiSellModal" type="wallet" form="phone" legend="Add a new payout wallet" %}
{% endblock %}