{% load i18n %}

<div class="user-authenticated user-authenticated-top">
    <h4>
        {% trans "Login"%}
    </h4>
    <a class="tooltip-icon"
        data-toggle="tooltip"
        data-placement="top"
        title="{%trans 'Logging in will make it easier for you to access your orders in the future. It will also help us to offer you support in case it is needed.'%}">
        <i class="fa fa-info-circle" ></i>
    </a>
</div>

<div class="auth-steps user-authenticated">
    <div class="step1">{% trans "Enter your phone" as enter_your_phone %}<br>
        <div class="row phone-verification hidden user-authenticated">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 register">
                <input type="text" name="phone" id="phone" class="phone val"
                value="{% if user.is_authenticated  %}{{ user.profile.phone }}
                {% else %}+7{% endif %}">
                <a class="tooltip-icon"
                    data-toggle="tooltip"
                    data-placement="left"
                    title="{%trans 'You do not have an account related to this phone number as it will be created automatically. Otherwise, it will login to existing one.'%}">
                    <i class="fa fa-info-circle" ></i>
                </a>
            </div>
        </div>
        <div class="row email-verification user-authenticated">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 register">
                <input type="email" name="email" id="email" class="email val text-center" placeholder="{% trans 'Enter your email' %}" size="25">
                <a class="tooltip-icon"
                    data-toggle="tooltip"
                    data-placement="left"
                    title="{%trans 'If you do not have an account related to this email address it will be created automatically. Otherwise, it will login to existing one.'%}">
                    <i class="fa fa-info-circle" ></i>
                </a>
            </div>
        </div>
    </div>

    <div class="step2 hidden">
        <div class="row user-authenticated">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 register">
                <label for="verification_code" class="full-width">
                    <h4 class="phone-verification hidden">{% trans "Code from SMS" %}</h4>
                    <h4 class="email-verification">{% trans "Code from Email" %}</h4>
                </label>
                <input type="text" name="verification_code" id="verification_code" class="full-width">
            </div>
        </div>
    </div>
</div>
