{% load i18n %}


<div class="col-xs-10 col-xs-offset-1 center controls user-anonymous">
    <span class="btn btn-danger show-key hidden">
        {% trans "Show Key"%}
    </span>
    <span class="btn btn-success hide-key hidden">
        {% trans "Hide Key"%}
    </span>
    <span class="btn btn-warning copy-key hidden" data-clipboard-target="#user-login-key">
        {% trans "Copy Key"%}
    </span>
</div>
<div class="col-xs-10 col-xs-offset-1 center controls user-anonymous">
    <span class="btn btn-lg btn-primary verify-anonymous hidden disabled">
        {% trans "Go"%}
    </span>
</div>