{% load i18n %}

<div class="auth-steps user-anonymous">
    <div class="col-xs-10 col-xs-offset-1 center controls user-anonymous">
        <span class="btn btn-primary create-anonymous-acc">
            {% trans 'Proceed Anonymously' %}
        </span>
    </div>
    <div class="step2 hidden">
        <div class="row user-anonymous">
            <div class="col-xs-10 col-xs-offset-1 register">
                <h4>
                    {% trans "Access Key" %}
                    <a class="tooltip-icon"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{%trans 'Copy and save. If you lose this key you will not be able to access your orders.'%}">
                        <i class="fa fa-info-circle" ></i>
                    </a>
                </h4>

                <div class="input-group">
                    <input type="text" class="form-control" id="user-login-key" readonly="readonly" />

                    <i class="fa fa-eye show-hide-key" aria-hidden="true"></i>

                    <span class="input-group-addon copy-key" data-clipboard-target="#user-login-key" >
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>