{% load i18n %}

<div class="auth-steps user-anonymous">
    <div class="col-xs-10 col-xs-offset-1 center controls user-anonymous">
        <span class="btn btn-primary create-anonymous-acc">
            {% trans 'Create Anonymous User' %}
        </span>
        <span class="line green user-anonymous user-authenticated">
            <h4 class="header">
                <span>
                    {% trans 'OR' %}
                </span>
            </h4>
        </span>
    </div>
    <div class="step2 hidden">
        <div class="row user-anonymous">
            <div class="col-xs-10 col-xs-offset-1 register">
                <label for="user-login-key">
                    {% trans "Login Key" %}
                </label>
                <input type="text" id="user-login-key" readonly="readonly">
            </div>
        </div>
    </div>
</div>
