{% load i18n %}

<div class="user-authenticated user-authenticated-top">
    <h4>
        {% trans "Login"%}
    </h4>
    <a class="tooltip-icon"
        data-toggle="tooltip"
        data-placement="top"
        title="{%trans 'Logging in will make it easier for you to access your orders in the future. It will also help us to offer you support in case it is needed.'%}">
        <i class="fa fa-info-circle" ></i>
    </a>
</div>

<div class="auth-steps user-authenticated">
    <div class="step1">{% trans "Enter your phone" as enter_your_phone %}<br>
        <div class="row user-authenticated">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 register">
                <div id="phone-verification" class="hidden">
                    <input type="text" name="phone" id="phone" class="phone val">
                </div>
                
                <div id="email-verification">
                    <input type="text" name="email" id="email" class="email val text-center" placeholder="{% trans 'Enter your email or phone number' %}" size="25">
                </div>

                <a class="tooltip-icon"
                    data-toggle="tooltip"
                    data-placement="left"
                    title="{%trans 'If you do not have an account related to this email address or phone number it will be created automatically. Otherwise, it will login to existing one.'%}">
                    <i class="fa fa-info-circle" ></i>
                </a>
            </div>
        </div>
    </div>

    <div class="step2">
        <div class="row user-authenticated">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 register">
                <input type="text" name="verification_code" id="verification_code" class="full-width authentication-step" maxlength="{{ SMS_TOKEN_LENGTH }}" placeholder="{% trans "Copy code from phone/email" %}" disabled>

                <a class="tooltip-icon"
                    data-toggle="tooltip"
                    data-placement="left"
                    title="{%trans 'Please enter the code sent to you via phone or email.' %}">
                    <i class="fa fa-info-circle" ></i>
                </a>
            </div>
        </div>
    </div>
</div>
