label, input { text-align: left; cursor: pointer; }
input:disabled { background: rgba(230, 230, 230, 0.44); cursor: not-allowed !important; }

.glyphicon { background-color: transparent; }

#toast-container { z-index: 9999999 !important; }

.full-width { width: 100% !important; }

.fa-clipboard:hover, .input-group-addon-action { cursor: pointer; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #fff; }