.price_box { text-align:center; font-size:35px; font-family: 'Montserrat-Light', 'Gotham'; margin:12px 0; 
	span { font-family: 'Montserrat-Bold', 'Gotham';}
	a { width:210px; max-width: 100%; color:#FFF; font-size:30px; padding:5px 0; background-color:#8cc63f; border-radius:8px; display:inline-block;
		&:hover { background-color:#000 !important; }
	}
}

.price_box_ticker{ margin: 40px 0 20px;
	h2 { border-bottom: 4px solid #8cc63f; line-height: 1.5em; }
}

body .price_box_ticker .trigger-sell, body .price_box_next_cont .sell-go {
    background-color:#ee1d25;
}

.exchange-sign.sell {
    color: #ee1d25;
}

.price_box_selectbox_cont{display:inline-block; width:100%; border:2px solid #8cc63f; border-radius: 4px;}

.price_box_selectbox_cont_textbox{float:left; margin: 0px; text-align: center; width:65%; background-color:transparent; border:solid #8cc63f; font-size:18px; padding:8px 10px;border-width:0 2px 0 0; }

.price_box_selectbox_cont_selectbox{
    float:left;
    width:33%;
    margin:0px 0 0 0;
    font-size:18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 26px;
    border:none;
    padding:8px 10px;
    font-family: 'Montserrat-Regular', 'Gotham';
}

.price_box_next_cont{text-align:center;}

.price_box_next{cursor:pointer; width:250px; color:#FFF; font-size:30px; padding:5px 0; background-color:#8cc63f; border-radius:8px; display:inline-block; text-align:center;}

.price_box_next:hover{background-color:#000; color:#FFF;}

.chart_panel_selectbox_panel { text-align: right; }