{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}


{% block cms_static %}
    <div class="collapse navbar-collapse menupanel">
        <ul class="nav navbar-nav">
            {% for c in cmsmenu %}
                <li class="{% if  c.0 in request.get_full_path %}active{% endif %}">
                    <a href="/articles/{{ c.0 }}">
                        {{ c.1 }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="cms_text">
        {% block cms_text %}
            <div class="cms_header">
                {{ head | safe }}
                <div class="line-order" >
                </div>
            </div>

           <div class="cms_written">
                {% trans "Written by: " %} {{ written_by| safe | default: _('Nexchange Team') }}
            </div>

            <div class="cms_body">
                {{ body | safe }}
            </div>
        {% endblock %}

    </div>
{% endblock %}