{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="/static/css/api.css" type="text/css">
{% endblock %}

{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="#">
		<a href="#" class="navbar-left"><img src="https://n.exchange/img/logo.png" style="max-width: 65px; margin: 25px 10px 0 0;"></a>
		<h1 class="header-text" style="font-size: 36px; margin-top: 45px;">NE<span style="color: #1db6ad">X</span>CHANGE</h1>
    </a>
{% endblock %}

{% block bootstrap_navbar_variant %}{% endblock %}