{% load bootstrap3 %}
{% load i18n %}


<form method="post" class="form" id="login-form" enctype="multipart/form-data" >
    {% csrf_token %}

    {% bootstrap_form form %}

    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-success btn-lg" id="submit_auth" value="{% trans "Login" %}">
    </div>

    <div class="form-group">
        <span class="btn btn-success btn-lg verify-acc hidden login-otp">
            {% trans "Login with One Time Password"%}
        </span>
    </div>

    {% include "accounts/partials/recaptcha.html" %}

    <div class="form-group">
        <span class="btn btn-primary create-acc send-otp">
            {% trans "Send One Time Password"%}
        </span>
    </div>

    <div class="form-group">
        <span class="btn btn-danger create-acc resend-otp hidden">
            {% trans "Resend One Time Password" %}
        </span>
    </div>


    <input type="hidden" name="next" value="{{ next }}" />
</form>