<!-- Modal for Sell Action-->
<div class="modal fade" id="orderSuccessModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Success</h4>
        </div>
        <div class="modal-body successOrder">
            {% include 'core/partials/success_order.html' %}
        </div>
        <div class="modal-footer">
          <a href="/order" class="btn btn-default">Close</a>
        </div>
      </div>
    </div>
</div>