<!-- Modal for Order success Action-->
{%  load i18n %}
<div class="modal fade" id="orderSuccessModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {% if order.payment_preference.payment_method.name != 'Robokassa' %}
            <button type="button" class="close" data-dismiss="modal">×</button>
          {% endif %}
          <h4 class="modal-title">{% trans 'Success' %}!</h4>
        </div>
        <div class="modal-body successOrder">
            {% block modal_content %}
            {% endblock %}
        </div>
        <div class="modal-footer">
            {% if order.payment_preference.payment_method.name == 'Robokassa' %}
                <a href="{{ url }}"
                   class="btn btn-default"
                   data-controls-modal="your_div_id"
                   data-backdrop="static"
                   data-keyboard="false">
                    {% trans 'Go to Robokassa' %}
                </a>
            {% else %}
                <a href="{% url 'core.order' %}?oid={{ order.pk }}" class="btn btn-default">{% trans 'Get your bitcoins' %}</a>
            {% endif %}
        </div>
      </div>
    </div>
</div>


