{% extends 'orders/partials/modals/success_order.html' %}
{%  load i18n %}

{% block modal_content %}
<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="col col-xs-12">
                {% trans 'Please send' %}
                {{ order.amount_base.normalize}} {{ order.pair.base }}
                {% trans 'to the following address' %}
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control element-to-copy text-center" id="deposit-address-sell" readonly="readonly" value="{{address}}" />

                    <span class="input-group-addon input-group-addon-action copy-address" data-clipboard-target="#deposit-address-sell">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col col-xs-12">
                <div class="qrContainer">
                    <img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl={{ order.pair.base.name }}:{{ address }}?amount={{ order.amount_base }}">
                </div>
            </div>
        </div>
        {% if not order.exchange %}
            <div class="row">
                <div class="col col xs-12"></div>
                {% trans 'You choose to get paid by:' %}
                {{ order.payment_preference.payment_method.name }}
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <p><strong>{{order.payment_preference.identifier}}</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    {% trans 'We will place the following reference in the comment to our payment:' %}
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 unique_ref">
                    <p><strong>{{unique_ref}}</strong></p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col col-xs-12 unique_ref_container">
                    <p>{% trans 'Order reference:' %} <strong class="unique_ref">{{unique_ref}}</strong></p>
                </div>
            </div>
        {% endif %}

        {% if not order.exchange %}
            {% block options %}
                {% include "orders/partials/modals/order_success_options.html" %}
            {% endblock %}
        {% endif %}
        {% block terms %}
            {% include "orders/partials/modals/order_success_terms.html" %}
        {% endblock %}
    </div><!-- /pannel-body -->
</div><!-- /pannel -->
<input type="hidden" name="order_id" value="{{order_id}}" class="order_id" >
{% endblock %}