{%  load i18n %}
<div class="row text-left">
    <div class="col-xs-12 auto-exchange">
          <input type="checkbox" id="default-order-trigger" value="1">
        <label for="default-order-trigger">
            {% if order.is_buy %}
                {% blocktrans %}
                    Credit my withdraw address automatically with any funds
                    sent by you to our {{ order.payment_preference.payment_method.name }}
                {% endblocktrans %}
            {% else %}
                {% blocktrans %}
                    Convert coins credited to this address automatically to my
                    {{ order.payment_preference.payment_method.name }} in the future
                {% endblocktrans %}
            {% endif %}
        </label>
    </div>
</div>
