{%  load i18n %}
{% load tz %}

 <div class="exchange-terms">
    <div class="row text-left">
        {% if order.payment_preference.comment %}
            <div class="col col-xs-12 text-let">
                <p>
                    * {{ order.payment_preference.comment }}
                </p>
            </div>
        {% endif %}
        <div class="col col-xs-12 text-let">
           <p>
               * {% trans 'Please notice that you must pay until ' %}
               {% localtime on %}
                   <strong>{{pay_until |date:"H:iA (e)"}}</strong>
               {% endlocaltime %}
           </p>
        </div>
        <div class="col col-xs-12 text-left">
            <p>
                * {% trans 'All exchange transactions are executed automatically by a computer regardless of the payment method' %}
            </p>
        </div>
    </div>
</div>