{% extends 'orders/partials/modals/success_order.html' %}
{%  load i18n %}
{% load tz %}

{% block modal_content %}
<div class="panel panel-success">
    <div class="panel-body">
        <h1>{% trans 'Order placed successfully' %}</h1>
            <div class="row">
                <div class="col col xs-12"></div>
                {% trans 'Please make payment to the following' %}
                {{ order.payment_preference.payment_method.name }}
            </div>

            <div class="row">
                <div class="col col-xs-12 our_acc">
                    {% if order.payment_preference.payment_method.name in order.payment_preference.payment_method.METHODS_NAMES_WITH_BANK_DETAILS %}
                        <p>
                            {% trans 'IBAN: '%}
                            <strong>{{order.payment_preference.identifier}}</strong>
                        <p>
                            {% trans 'BIC: '%}
                            <strong>{{order.payment_preference.bic}}</strong>
                        </p>
                        <p><small>
                            {% trans 'Beneficiary: '%}
                            <strong>{{order.payment_preference.beneficiary}}</strong>
                        </small></p>
                        <p><small>
                            {% trans 'Bank Name: '%}
                            <strong>{{order.payment_preference.name}}</strong>
                        </small></p>
                        <p><small>
                            {% trans 'Bank Address: ' %}
                            <strong>{{order.payment_preference.physical_address_bank}}</strong>
                        </small></p>
                        <p><small>
                            {% trans 'Owner Address: ' %}
                            <strong>{{order.payment_preference.physical_address_owner}}</strong>
                        </small></p>
                    {% else %}
                        <p>
                            <strong>{{order.payment_preference.identifier}}</strong>
                        <p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    {% trans 'Please put the following reference in the comment' %}
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 unique_ref">
                    <p><strong>{{unique_ref}}</strong></p>
                </div>
            </div>
            {% if order.payment_preference.payment_method.name == 'Okpay' %}
            <div class="row">
                <div class="col col-xs-10 col-xs-offset-1 success-line mid">
                    <span class="line green">
                        <h4 class="header">
                            <span>
                                {% trans 'OR' %}
                            </span>
                        </h4>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    {% trans 'proceed to automatic-checkout' %}
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <form method="post" action="https://checkout.okpay.com/">
                       <input type="hidden" name="ok_receiver" value="{{ okpay_wallet }}"/>
                       <input type="hidden" name="ok_item_1_name" value="{{ unique_ref }}"/>
                       <input type="hidden" name="ok_item_1_price"
                              value="{{ amount_quote}}"/>
                       <input type="hidden" name="ok_currency" value="{{ order.pair.quote.code}}"/>
                       <input type="hidden" name="ok_invoice" value="{{ unique_ref }}"/>
                       <input type="hidden" name="ok_fees" value="1"/>
                       <input type="image" class="payment-icon"
                              name="submit" alt="OKPAY Payment"
                              src="/static/icons/small/okpay_green.png"/>
                    </form>
                </div>
            </div>
            {% elif order.payment_preference.payment_method.name == 'Payeer Wallet' %}
            <div class="row">
                <div class="col col-xs-10 col-xs-offset-1 success-line mid">
                    <span class="line green">
                        <h4 class="header">
                            <span>
                                {% trans 'OR' %}
                            </span>
                        </h4>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    {% trans 'proceed to automatic-checkout' %}
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <form method="post" action="https://payeer.com/merchant/">
                        <input type="hidden" name="m_shop" value="{{ payeer_shop }}"/>
                        <input type="hidden" name="m_orderid" value="{{ order.unique_reference }}"/>
                        <input type="hidden" name="m_amount"
                               value="{{ amount_quote }}"/>
                        <input type="hidden" name="m_curr" value="{{ order.pair.quote.code }}"/>
                        <input type="hidden" name="m_desc" value="{{ payeer_desc }}"/>
                        <input type="hidden" name="m_sign" value="{{ payeer_sign }}"/>
                        <input type="image" class="payment-icon" name="submit" alt="Payeer Payment" src="/static/icons/small/payeer.png"/>
                    </form>
                </div>
            </div>
            {% endif %}
          {% block options %}
          <div class="row text-left">
              <div class="col-xs-12 auto-exchange">
                    <input type="checkbox" id="default-order-trigger" value="1">
                  <label for="default-order-trigger">
                    {% blocktrans %}
                        Credit my withdraw address automatically with any funds
                        sent by you to our {{ order.payment_preference.payment_method.name }}
                    {% endblocktrans %}
                  </label>
              </div>
          </div>
          {% endblock %}

          {% block terms %}
              <div class="exchange-terms">
                  <div class="row text-left">
                    <div class="col col-xs-12 text-let">
                       <label>
                           * {% trans 'Please notice that you must pay until ' %}
                           {% localtime on %}
                               <strong>{{pay_until |date:"H:iA (e)"}}</strong>
                           {% endlocaltime %}
                       </label>
                    </div>
                    <div class="col col-xs-12 text-left">
                        <label>
                            * {% trans 'All exchange transactions are executed automatically by a computer regardless of the payment method' %}
                        </label>
                    </div>
                </div>
              </div>
          {% endblock %}
    </div><!-- /pannel-body -->
</div><!-- /pannel -->
<input type="hidden" name="order_id" value="{{order_id}}" class="order_id" >
{% endblock %}
