{% extends 'orders/partials/modals/success_order.html' %}
{%  load i18n %}
{% load payments_filters %}

{% block modal_content %}
<div class="panel panel-success">
    <div class="panel-body">
        <h1>{% trans 'Order placed successfully' %}</h1>
        {% if order.payment_preference.payment_method.on_order_success_modal_checkout %}

            <div class="row">
                <div class="col col xs-12"></div>
                    {% trans 'Please fill the form to pay ' %}
                    {{ order.amount_quote }} {{ order.pair.quote.code}}
                    {% trans 'for this order.' %}
            </div>
            <div class="row">
                {% include "payments/partials/forms/credit_card.html" %}
            </div>
        {% elif not order.exchange %}
            <div class="row">
                <div class="col col xs-12"></div>

                {% trans 'Please make ' %}
                {{ order.amount_quote }} {{ order.pair.quote.code}}
                {% trans 'payment via ' %}
                {{ order.payment_preference.payment_method.name }}
            </div>

            {% if order.payment_preference.payment_method.manual_checkout %}
                <div class="row">
                    <div class="col col-xs-12 our_acc">
                        {% if order.payment_preference.payment_method.name in order.payment_preference.payment_method.METHODS_NAMES_WITH_BANK_DETAILS %}
                            <p>
                                {% trans 'IBAN: '%}
                                <strong>{{order.payment_preference.identifier}}</strong>
                            <p>
                                {% trans 'BIC: '%}
                                <strong>{{order.payment_preference.bic}}</strong>
                            </p>
                            <p><small>
                                {% trans 'Beneficiary: '%}
                                <strong>{{order.payment_preference.beneficiary}}</strong>
                            </small></p>
                            <p><small>
                                {% trans 'Bank Name: '%}
                                <strong>{{order.payment_preference.name}}</strong>
                            </small></p>
                            <p><small>
                                {% trans 'Bank Address: ' %}
                                <strong>{{order.payment_preference.physical_address_bank}}</strong>
                            </small></p>
                            <p><small>
                                {% trans 'Owner Address: ' %}
                                <strong>{{order.payment_preference.physical_address_owner}}</strong>
                            </small></p>
                        {% else %}
                            <p>
                                <strong>{{order.payment_preference.identifier}}</strong>
                            <p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        {% trans 'Please put the following reference in the comment' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 unique_ref">
                        <p><strong>{{unique_ref}}</strong></p>
                    </div>
                </div>
            {% endif %}
            {% if order.payment_preference.payment_method.auto_checkout %}
                {% if order.payment_preference.payment_method.manual_checkout %}
                    <div class="row">
                        <div class="col col-xs-10 col-xs-offset-1 success-line mid">
                            <span class="line green">
                                <h4 class="header">
                                    <span>
                                        {% trans 'OR' %}
                                    </span>
                                </h4>
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col col-xs-12">
                            {% trans 'Order reference:' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-12 unique_ref">
                            <p><strong>{{unique_ref}}</strong></p>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col col-xs-12">
                        {% trans 'proceed to automatic-checkout' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        {% if order.payment_preference.payment_method.name|upper|is_in:'OKPAY,VISA' %}
                            {% include "payments/partials/forms/okpay_form.html" %}
                        {% elif order.payment_preference.payment_method.name == 'Payeer Wallet' %}
                            {% include "payments/partials/forms/payeer_form.html" %}
                        {% elif order.payment_preference.payment_method.name == 'Sofort' %}
                            {% include "payments/partials/forms/sofort_form.html" %}
                        {% endif %}
                    </div>
                    </div>
                </div>
            {% endif %}
            {% block options %}
                {% include "orders/partials/modals/order_success_options.html" %}
            {% endblock %}
        {% else %}
            <div class="row">
                <div class="col col-xs-12">
                    {% trans 'Please send' %}
                    {{ order.amount_quote}} {{ order.pair.quote }}
                    {% trans 'to the following address' %}
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <span class="expand" title=
                            "{% trans 'Copy' %}">
                        <i class="fa fa-copy" data-clipboard-target="#deposit-address-buy"></i>
                        <strong>
                            <span id="deposit-address-buy" class="element-to-copy">{{address}}</span>
                        </strong>
                    </span>
                </div>
                <div class="col col-xs-12">
                    <div class="qrContainer">
                        <img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl={{ order.pair.quote.name }}:{{ address }}?amount={{ order.amount_quote }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    {% trans 'Order Reference:' %}
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 unique_ref">
                    <p><strong>{{unique_ref}}</strong></p>
                </div>
            </div>
        {% endif %}
        {% block terms %}
            {% include "orders/partials/modals/order_success_terms.html" %}
        {% endblock %}
    </div><!-- /pannel-body -->
</div><!-- /pannel -->
<input type="hidden" name="order_id" value="{{order_id}}" class="order_id" >
{% endblock %}
