<!-- Modal for Order success Action-->
{%  load i18n %}
<div class="modal fade" id="orderSuccessModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {% if order.payment_preference.payment_method.name != 'Robokassa' %}
            <button type="button" class="close" data-dismiss="modal">×</button>
          {% endif %}
        </div>
        <div class="modal-body successOrder">
            <div class="success-container">
                <div class="row">
                    <div class="success-line col-xs-12">
                        <span class="line">
                            <h2 class="header">
                                <span>{% trans 'Success' %} <span class="checkmark">&#x2714;</span></span>
                            </h2>
                        </span>​
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>

            </div>
            {% block modal_content %}
            {% endblock %}
        </div>
        <div class="modal-footer">
            {% if order.payment_preference.payment_method.name == 'Robokassa' %}
                <a href="{{ url }}"
                   class="btn btn-success"
                   data-controls-modal="your_div_id"
                   data-backdrop="static"
                   data-keyboard="false">
                    {% trans 'Go to Robokassa' %}
                </a>
            {% else %}
                {% if order.payment_preference.payment_method.name != 'Mastercard-Internal' %}
                    <a href="{% url 'orders.orders_list' %}?oid={{ order.unique_reference }}"
                       class="btn btn-success">
                        {%  if order.is_buy or order.exchange %}
                            {% trans 'Get your coins' %}
                        {% else %}
                            {% trans 'Done' %}
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
        </div>
      </div>
    </div>
</div>