{% extends 'orders/partials/steps/step_base.html' %}
{% load i18n %}
{% block step_content %}
    <div class="row step-confirm">
        <h3>{% trans "Your Order" %}</h3>
        <div class="col-sm-12 center confirm-order">
            <div class="col-sm-6">
                <h3 class="confirm-title">Deposit:</h3 class="confirm-title">
                <h2 id="deposit-amount-confirm" class="amount"></h2>
            </div>
            <div class="col-sm-6">
                <h3 class="confirm-title">Receive:</h3 class="confirm-title">
                <h2 id="receive-amount-confirm" class="amount"></h2>
            </div>

            <div class="col-lg-11 confirmation-elem payment-confirm hidden">
                <span>{% trans "Payment Method" %}</span>
            <div class="payline">  </div>
            </div>

            <div class="col-lg-12 confirmation-elem hidden">
                <span class="payment-preference-confirm"></span>
            </div>
            <div class="col-lg-12 confirmation-elem hidden">
                <span class="payment-preference-identifier-confirm"></span>
            </div>
            <div class="col-lg-12 confirmation-elem payment-fee hidden hidden">
                <span class="payment-preference-confirm"></span>
                <span>{% trans "Fee: " %}</span>
                <span class="payment-preference-fee-percent"></span>%
                (<span class="amount payment-preference-fee-amount"></span>
                <span class="currency"></span>)
            </div>
        <div style="display:none">
          <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>
        <!-- Modal -->
        <div class="col-lg-12"> 
            <input type="hidden" name="type" value="1" class="trade-type">
            <input type="hidden" name="payment-option" value="" class="payment-option">
            <input type="hidden" name="payment-preference" value="" class="payment-preference-actual">
            <input type="hidden" name="payment-preference-identifier" value="" class="payment-preference-identifier">
            <input type="hidden" name="payment-preference-owner" value="" class="payment-preference-owner">
            <button  class="sell-buy btn btn-success btn-lg place-order">{% trans "Confirm" %}</button>
            <a href="/" class="btn place-cancel btn-lg">{% trans "Cancel" %}</a>
        </div>
    </div>
</div>
{# used for success modal placement #}
<div class="successOrder"></div>

{% endblock %}
{% block spa_navigation %}
{% endblock %}