{% extends 'orders/partials/steps/step_base.html' %}
{% load i18n %}
{% block step_content %}
    <div class="chart_panel_selectbox_panel" style="width: 100%;">
        <div class="input-group-btn" style="width: 49%; text-align: center;
        margin: auto; display: inline-block">
            <select name="currency_pair"
                    class="currency-select currency-pair classic select2">
                {% for pair in pairs %}
                    <option value="{{ pair.name}}" class="currency-select currency-pair chart_panel_selectbox classic"
                            data-fiat="{{ pair.quote.code }}"
                            data-crypto={{ pair.base.code }}>{{ pair.base.code }}/{{pair.quote.code }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="width: 49%; text-align: center; margin: auto; display:
        inline-block">
            <select name="graph-range" id="graph-range"
                    class="select2 chart_panel_selectbox classic">
                {% for range in graph_ranges %}
                    <option value="{{  range.val }}"> {{ range.name }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="container-graph">
    </div>


    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-5 price_box price_box_ticker">
                <span class="rate rate-buy"></span><br>
                <span class="currency"></span><br>
                <a href="#" class="trigger trigger-buy active-action">{% trans "Buy" %}</a>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5 price_box price_box_ticker">
                <span class="rate rate-sell"></span><br>
                <span class="currency"></span><br>
                <a href="#" class="price_box2_a trigger trigger trigger-sell">{% trans "Sell" %}</a></div>
        </div>
        <div class="row">
            <div class="col-xs-5 price_box" id="pricebox_rub">
                <div class="price_box_selectbox_cont">
                    <input type="text" class="price_box_selectbox_cont_textbox amount amount-cash" placeholder="">
                    <select name='currency_from'
                            class='currency-select currency-from price_box_selectbox_cont_selectbox classic'>
                        {% for pair in pairs %}
                            <option value="{{ pair.quote.code }}">{{ pair.quote.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-2 price_box_mid">
                <i class="fa fa-refresh fa-5x exchange-sign" aria-hidden="true"></i>
            </div>
            <div class="col-xs-5 price_box" id="pricebox_btc">

                <div class="price_box_selectbox_cont">
                    <input type="text" class="price_box_selectbox_cont_textbox amount amount-coin" placeholder="0.1">
                    <select name='currency_to'
                            class='currency-select currency-to price_box_selectbox_cont_selectbox classic'>
                       {% for code in base_currencies %}
                           <option value="{{ code }}">
                               {{ code }}
                           </option>
                       {% endfor %}
                     </select>
                </div>
            </div>
        </div>
    </div>

    {% include 'payments/partials/modals/payment_type.html' with id="UserAccountModal" type="sell" %}
    <div class="paymentSelectionContainer">
    </div>
    {% include 'payments/partials/modals/sell.html' with id="c2cSellModal" form="card" legend="Get pay with card to card transfer" icon="icons/small/c2c.ico" %}
    {% include 'payments/partials/modals/sell.html' with id="paypalSellModal" method="paypal" form="email" legend="Get paid with PayPal" icon="icons/small/paypal.png" %}
    {% include 'payments/partials/modals/sell.html' with id="skrillSellModal" method="skrill" form="email" legend="Get paid with Skrill" icon="icons/small/skrill.png" %}
    {% include 'payments/partials/modals/sell.html' with id="qiwiSellModal" method="qiwi" form="phone" legend="Get paid with Qiwi Wallet" icon="icons/small/qiwi.png" %}
    {% include 'payments/partials/modals/sell.html' with id="sepaSellModal" form="iban" method="sepa" legend="Get paid using a SEPA trasnfer" icon="icons/small/sepa.png" %}
    {% include 'payments/partials/modals/sell.html' with id="swiftSellModal" form="swift" method="swift" legend="Get paid using a SWIFT transfer" icon="icons/small/swift.png" %}
    {% include 'payments/partials/modals/sell.html' with id="okpaySellModal" method="okpay" form="email" legend="Get paid to your OkPay wallet" icon="icons/small/okpay.png" %}
    {% include 'payments/partials/modals/sell.html' with id="payeerSellModal" method="payeer" form="email" legend="Get paid to your Payeer wallet" icon="icons/small/payeer.png" %}

{% endblock %}