<form method="GET" action="https://wallet.advcash.com/sci/" class="automatic-checkout">
    <input type="hidden" name="ac_account_email" value="{{ adv_cash_email }}">
    <input type="hidden" name="ac_sci_name" value="{{ adv_cash_sci_name }}">
    <input type="hidden" name="ac_amount" value="{{ amount_quote }}">
    <input type="hidden" name="ac_currency" value="{{ order.pair.quote.code }}">
    <input type="hidden" name="ac_order_id" value="{{ unique_ref }}">
    <input type="hidden" name="ac_sign" value="{{ adv_cash_sign }}">
    <input type="image" class="payment-icon"
          name="submit" alt="Advanced Cash Payment"
          src="/static/icons/small/adv_cash.png"/>
</form>
