{% load i18n %}
<form action="">
    <div class="row">
        <div class="col col-lg-10 col-sm-offset-1 text-left">
            <label for="phone">{% trans 'Account Holder' %} </label>
                <input type="text" name="iban_holder"
                       class="iban val" placeholder="{% trans 'John Smith' %}"
                       {% if user.is_authenticated %}value="{{ user.first_name }} {{ user.last_name }}"{% endif %}>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-10 col-sm-offset-1 text-left">
            <label for="phone">{% trans 'Account Email' %}</label>
            <input type="text" name="acoount-number" class="account-number val"
               {% if user.is_authenticated %}value="{% user.email %}"{% endif %} placeholder="{% trans 'Account Email' %}">
            {% if user.is_authenticated and not user.email %}
                <input type="checkbox" value="1">
                {% trans 'Save this email to my profile' %}
            {% endif %}
        </div>
    </div>
</form>