<form method="post" action="https://payeer.com/merchant/" class="automatic-checkout">
    <input type="hidden" name="m_shop" value="{{ payeer_shop }}"/>
    <input type="hidden" name="m_orderid" value="{{ order.unique_reference }}"/>
    <input type="hidden" name="m_amount"
           value="{{ amount_quote }}"/>
    <input type="hidden" name="m_curr" value="{{ order.pair.quote.code }}"/>
    <input type="hidden" name="m_desc" value="{{ payeer_desc }}"/>
    <input type="hidden" name="m_sign" value="{{ payeer_sign }}"/>
    <input type="image" class="payment-icon" name="submit" alt="Payeer Payment" src="/static/icons/small/payeer.png"/>
</form>